In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')


student_data = r"C:\Users\MK\Desktop\task\task\student_data.csv"
df_student = pd.read_csv(student_data)
print(df_student.shape)
print(df_student.head())
print(df_student.isnull().sum())

(8824678, 14)
   sessionId  timestamp      x      y       z   ppgValue  hr  hrIbi  hrStatus  \
0          1          8  653.0  195.0  4324.0  1917829.0 NaN    NaN       NaN
1          1         50  659.0  198.0  4096.0  1917495.0 NaN    NaN       NaN
2          1         89  645.0  149.0  4054.0  1917365.0 NaN    NaN       NaN
3          1        128  752.0  213.0  4090.0  1918146.0 NaN    NaN       NaN
4          1        169  652.0  232.0  4088.0  1919319.0 NaN    NaN       NaN

   ibiStatus  notification  engagement affect context
0        NaN           NaN         NaN    NaN     NaN
1        NaN           NaN         NaN    NaN     NaN
2        NaN           NaN         NaN    NaN     NaN
3        NaN           NaN         NaN    NaN     NaN
4        NaN           NaN         NaN    NaN     NaN
sessionId             0
timestamp             0
x                338892
y                338892
z                338892
ppgValue         338892
hr              8487003
hrIbi           8487003
hrStatus        8487003
ibiStatus       8487003
notification    8824306
engagement      8824306
affect          8824438
context         8824445
dtype: int64

In [20]:
# 假设您的 DataFrame 变量名为 df
hr_status_counts = df_student['hrStatus'].value_counts()

# 显示 hrStatus 列中 0 和 1 的数量
#print("hrStatus 列中 0 的数量:", hr_status_counts[0])
#print("hrStatus 列中 1 的数量:", hr_status_counts[1])

hrStatus 列中 0 的数量: 2321
hrStatus 列中 1 的数量: 195585

In [21]:
student_skeleton = r"C:\Users\MK\Desktop\task\task\student_skeleton.csv"
df_student_skeleton = pd.read_csv(student_skeleton)
#print(df_student_skeleton.shape)
#print(df_student_skeleton.head())
#print(df_student_skeleton.isnull().sum())

(193, 4)
   sessionId  timestamp  affect  context
0          1    1652042    True    False
1          1    1658301   False     True
2          1    5914412    True    False
3          1    5921368   False     True
4          2     629724    True    False
sessionId    0
timestamp    0
affect       0
context      0
dtype: int64

In [22]:
session_info = r"C:\Users\MK\Desktop\task\task\session_info.csv"
df_session_info = pd.read_csv(session_info)
# print(df_session_info.shape)
# print(df_session_info.head())
# print(df_session_info.isnull().sum())

(58, 6)
   id  duration watchId    age  gender  fairNumber
0   1   8021351    0Q3V  18-25  female           1
1   2   3752526    0Q3V  26-30    male           1
2   3   3989497    0QED  18-25    male           1
3   4   4979198    0QED  18-25    male           1
4   5   4836199    0QVM  18-25    male           1
id            0
duration      0
watchId       0
age           0
gender        0
fairNumber    0
dtype: int64

In [24]:
col_names = df_student.columns
col_names

Index(['sessionId', 'timestamp', 'x', 'y', 'z', 'ppgValue', 'hr', 'hrIbi',
       'hrStatus', 'ibiStatus', 'notification', 'engagement', 'affect',
       'context'],
      dtype='object')

In [25]:
affect_info = df_student["affect"].value_counts()

print("affect 列的信息:")
print(affect_info)

context_info = df_student["context"].value_counts()

print("context 列的信息:")
print(context_info)

affect 列的信息:
HAPPY      114
RELAXED    112
SAD          9
ANGRY        5
Name: affect, dtype: int64
context 列的信息:
CONVERSATION    85
OTHER           66
WALKING         48
VIEW_BOOTH      34
Name: context, dtype: int64

In [26]:
affect_dummies = pd.get_dummies(df_student['affect'], prefix='affect')

# 对 context 列进行独热编码
context_dummies = pd.get_dummies(df_student['context'], prefix='context')
df_encoded = pd.concat([df_student, affect_dummies, context_dummies], axis=1)

# 删除原始的 affect 和 context 列
df_encoded.drop(['affect', 'context'], axis=1, inplace=True)

# 显示编码后的数据
print(df_encoded.head())

   sessionId  timestamp      x      y       z   ppgValue  hr  hrIbi  hrStatus  \
0          1          8  653.0  195.0  4324.0  1917829.0 NaN    NaN       NaN
1          1         50  659.0  198.0  4096.0  1917495.0 NaN    NaN       NaN
2          1         89  645.0  149.0  4054.0  1917365.0 NaN    NaN       NaN
3          1        128  752.0  213.0  4090.0  1918146.0 NaN    NaN       NaN
4          1        169  652.0  232.0  4088.0  1919319.0 NaN    NaN       NaN

   ibiStatus  notification  engagement  affect_ANGRY  affect_HAPPY  \
0        NaN           NaN         NaN             0             0
1        NaN           NaN         NaN             0             0
2        NaN           NaN         NaN             0             0
3        NaN           NaN         NaN             0             0
4        NaN           NaN         NaN             0             0

   affect_RELAXED  affect_SAD  context_CONVERSATION  context_OTHER  \
0               0           0                     0              0
1               0           0                     0              0
2               0           0                     0              0
3               0           0                     0              0
4               0           0                     0              0

   context_VIEW_BOOTH  context_WALKING
0                   0                0
1                   0                0
2                   0                0
3                   0                0
4                   0                0

In [27]:
df_student['x'] = df_student['x'].interpolate()
df_student['y'] = df_student['y'].interpolate()
df_student['z'] = df_student['z'].interpolate()
df_student['ppgValue'] = df_student['ppgValue'].interpolate()

In [28]:
df_student

,sessionId,timestamp,x,y,z,ppgValue,hr,hrIbi,hrStatus,ibiStatus,notification,engagement,affect,context
0,1,8,653.0,195.0,4324.0,1917829.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50,659.0,198.0,4096.0,1917495.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,89,645.0,149.0,4054.0,1917365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,128,752.0,213.0,4090.0,1918146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,169,652.0,232.0,4088.0,1919319.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8824673,48,4225425,-879.0,-52.0,3786.5,3355035.5,0.0,0.0,-10.0,0.0,NaN,NaN,NaN,NaN
8824674,48,4225455,-808.0,42.0,4038.0,3349663.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8824675,48,4225495,-792.0,-89.0,3885.0,3404833.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8824676,48,4225535,-806.0,-78.0,4130.0,3316474.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8824677,48,4225576,-823.0,-124.0,3964.0,3314477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
print(df_student.isnull().sum())

sessionId             0
timestamp             0
x                     0
y                     0
z                     0
ppgValue              0
hr              8487003
hrIbi           8487003
hrStatus        8487003
ibiStatus       8487003
notification    8824306
engagement      8824306
affect          8824438
context         8824445
dtype: int64

In [30]:
# 使用布尔索引选择 hrStatus 小于零的行
negative_hr_rows = df_student[df_student['hrStatus'] < 0]

# 删除满足条件的行
df_student.drop(negative_hr_rows.index, inplace=True)

# 显示删除后的 DataFrame
print(df_student.isnull().sum())

sessionId             0
timestamp             0
x                     0
y                     0
z                     0
ppgValue              0
hr              8487003
hrIbi           8487003
hrStatus        8487003
ibiStatus       8487003
notification    8684537
engagement      8684537
affect          8684669
context         8684676
dtype: int64